.reservation-form {
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #F0F0F0;
}

.reservation-form label {
    display: block;
    margin-bottom: 10px;
}

.reservation-form input[type="text"],
.reservation-form select,
.reservation-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.reservation-form button {
    background-color: #D6E8DB;
    border: none;
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
}